In [13]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import pickle

In [14]:
import pandas as pd

# DB 연결

In [15]:
# pickle 모듈 이용, db 정보 가져옴
with open('/Users/bella/GitHub/FastAPI/database/db_dict.pickle','rb') as f :
    db_info = pickle.load(f)

In [16]:
db_info

{'DB_USERNAME': 'root',
 'DB_PASSWORD': 'root123',
 'DB_HOST': '52.78.168.253',
 'DB_PORT': 59543,
 'DB_DATABASE': 'cocomong'}

In [46]:
DB_USERNAME : str = db_info.get("DB_USERNAME")
DB_PASSWORD = db_info.get("DB_PASSWORD")
DB_HOST : str = db_info.get("DB_HOST","localhost")
DB_PORT : str = db_info.get("DB_PORT",3306)
DB_DATABASE : str = db_info.get("DB_DATABASE")
    
DB_URL = f"mysql+pymysql://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_DATABASE}"

In [18]:
engine = create_engine(DB_URL)

In [49]:
# db 연결
conn = engine.connect()

In [20]:
conn

# DB에 데이터 넣기

In [29]:
df = pd.read_csv("pollutant_df.csv")
df

,SO2_incheon_0,CO_incheon_0,O3_incheon_0,NO2_incheon_0,PM10_incheon_0,datetime,SO2_incheon_1,CO_incheon_1,O3_incheon_1,NO2_incheon_1,...,CO_gyeongi_67,O3_gyeongi_67,NO2_gyeongi_67,PM10_gyeongi_67,SO2_gyeongi_68,CO_gyeongi_68,O3_gyeongi_68,NO2_gyeongi_68,PM10_gyeongi_68,PM10_y_bin
0,0.007,0.2,0.015,0.004,73.0,2015-01-01 00:00:00,0.0027,0.2,0.026,0.0024,...,0.3,0.023,0.006,41.0,0.007,0.1,0.034,0.008,47.0,0
1,0.007,0.2,0.015,0.005,93.0,2015-01-01 01:00:00,0.0029,0.2,0.025,0.0023,...,0.3,0.021,0.006,75.0,0.007,0.1,0.034,0.007,53.0,0
2,0.007,0.1,0.015,0.004,100.0,2015-01-01 02:00:00,0.0030,0.2,0.024,0.0025,...,0.3,0.022,0.005,105.0,0.007,0.1,0.032,0.007,75.0,0
3,0.006,0.1,0.014,0.004,111.0,2015-01-01 03:00:00,0.0027,0.2,0.024,0.0022,...,0.3,0.021,0.005,117.0,0.007,0.1,0.032,0.006,86.0,0
4,0.007,0.1,0.014,0.004,131.0,2015-01-01 04:00:00,0.0021,0.2,0.024,0.0020,...,0.2,0.020,0.005,122.0,0.007,0.1,0.031,0.006,94.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67171,0.003,0.3,0.027,0.003,6.0,2022-08-30 19:00:00,0.0010,0.6,0.033,0.0020,...,0.3,0.006,0.026,7.0,0.002,0.2,0.009,0.026,4.0,0
67172,0.002,0.3,0.023,0.003,9.0,2022-08-30 20:00:00,0.0010,0.6,0.030,0.0020,...,0.3,0.008,0.021,6.0,0.002,0.2,0.014,0.017,5.0,0
67173,0.002,0.3,0.021,0.003,11.0,2022-08-30 21:00:00,0.0010,0.6,0.029,0.0022,...,0.3,0.008,0.020,6.0,0.002,0.2,0.014,0.017,4.0,0
67174,0.002,0.3,0.021,0.003,9.0,2022-08-30 22:00:00,0.0010,0.6,0.029,0.0021,...,0.2,0.009,0.018,6.0,0.002,0.2,0.015,0.014,8.0,0
67175,0.002,0.3,0.021,0.003,10.0,2022-08-30 23:00:00,0.0009,0.6,0.029,0.0019,...,0.2,0.010,0.015,10.0,0.002,0.2,0.016,0.012,6.0,0

In [26]:
df.columns

Index(['SO2_incheon_0', 'CO_incheon_0', 'O3_incheon_0', 'NO2_incheon_0',
       'PM10_incheon_0', 'datetime', 'SO2_incheon_1', 'CO_incheon_1',
       'O3_incheon_1', 'NO2_incheon_1',
       ...
       'x0_1916060501.0_seoul_8', 'x0_4019060501.0_seoul_8',
       'x0_7019160401.0_seoul_8', 'x0_7170190401.0_seoul_8',
       'x0_7170191601.0_seoul_8', 'x0_7170401904.0_seoul_8',
       'x0_7270160401.0_seoul_8', 'x0_7270190401.0_seoul_8',
       'x0_7271701904.0_seoul_8', 'x0_717019160401.0_seoul_8'],
      dtype='object', length=2518)

In [30]:
df.to_sql(name = 'Air_Pollution', con = engine, if_exists = 'append', index=False)

67176

# csv 파일 불러오기

In [34]:
import os

path = './weather/'
file_list = os.listdir(path)
file_list_py= [file for file in file_list if file.endswith('.csv')]

In [35]:
file_list_py

['paju.csv',
 'dongducheon.csv',
 'suwon.csv',
 'incheon.csv',
 'seoul.csv',
 'bangryeongdo.csv',
 'yangpyeong.csv',
 'icheon.csv',
 'ganghwado.csv']

In [32]:
# 백령도
df_bangryeongdo = pd.read_csv("./weather/bangryeongdo.csv")
df_bangryeongdo

,datetime,stnNm,ta,rn,ws,wd,hm,pv,td,pa,ps,ss,icsr,dsnw,dc10Tca,dc10LmcsCa,lcsCh,vs,dmstMtphNo,ts
0,2015-01-01 00:00:00,백령도,-5.0,0.0,8.7,290.0,40.0,1.7,-16.5,1005.9,1024.6,0.0,0.00,0.0,8.0,8.0,0.0,2000.0,0.0,-2.9
1,2015-01-01 01:00:00,백령도,-5.0,0.0,9.1,290.0,40.0,1.7,-16.5,1005.9,1024.6,0.0,0.00,0.0,8.0,8.0,8.0,2000.0,8.0,-2.9
2,2015-01-01 02:00:00,백령도,-5.2,0.0,7.9,290.0,53.0,2.2,-13.3,1006.0,1024.7,0.0,0.00,0.0,8.0,8.0,8.0,1400.0,8.0,-2.9
3,2015-01-01 03:00:00,백령도,-5.7,0.0,6.8,290.0,59.0,2.4,-12.4,1006.4,1025.1,0.0,0.00,0.0,8.0,8.0,8.0,1100.0,8.0,-2.8
4,2015-01-01 04:00:00,백령도,-6.2,0.0,5.9,290.0,65.0,2.5,-11.7,1006.7,1025.4,0.0,0.00,0.0,8.0,8.0,8.0,1400.0,8.0,-3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67195,2022-08-31 19:00:00,백령도,20.6,0.0,3.5,340.0,89.0,21.6,18.7,1004.3,1008.5,1.0,0.34,0.0,0.0,0.0,0.0,2655.0,0.0,22.3
67196,2022-08-31 20:00:00,백령도,20.2,0.0,3.8,320.0,89.0,21.0,18.3,1004.8,1009.0,0.0,0.01,0.0,0.0,0.0,0.0,2589.0,0.0,20.7
67197,2022-08-31 21:00:00,백령도,19.9,0.0,2.9,320.0,94.0,21.7,18.8,1005.6,1009.8,0.0,0.00,0.0,0.0,0.0,0.0,1642.0,0.0,19.8
67198,2022-08-31 22:00:00,백령도,20.0,0.0,3.5,320.0,93.0,21.7,18.8,1006.0,1010.2,0.0,0.00,0.0,0.0,0.0,0.0,2040.0,0.0,19.3
67199,2022-08-31 23:00:00,백령도,19.5,0.0,2.0,320.0,94.0,21.3,18.5,1006.1,1010.3,0.0,0.00,0.0,0.0,0.0,0.0,1212.0,0.0,18.7

In [33]:
# 동두천
df_dongducheon= pd.read_csv("./weather/dongducheon.csv")
df_dongducheon

,datetime,stnNm,ta,rn,ws,wd,hm,pv,td,pa,ps,ss,icsr,dsnw,dc10Tca,dc10LmcsCa,lcsCh,vs,dmstMtphNo,ts
0,2015-01-01 00:00:00,동두천,-8.2,0.0,6.3,320.0,33.0,1.1,-21.6,1008.1,1022.3,0.0,0.00,0.0,7.0,7.0,0.0,1000.0,0.0,-5.3
1,2015-01-01 01:00:00,동두천,-8.2,0.0,5.5,290.0,33.0,1.1,-21.6,1008.1,1022.3,0.0,0.00,0.0,7.0,7.0,0.0,1000.0,0.0,-5.3
2,2015-01-01 02:00:00,동두천,-9.0,0.0,3.7,320.0,35.0,1.1,-21.7,1008.2,1022.5,0.0,0.00,0.0,7.0,7.0,0.0,1000.0,0.0,-5.7
3,2015-01-01 03:00:00,동두천,-9.3,0.0,3.6,320.0,36.0,1.1,-21.6,1008.5,1022.8,0.0,0.00,0.0,7.0,7.0,0.0,1000.0,0.0,-6.0
4,2015-01-01 04:00:00,동두천,-9.6,0.0,3.1,290.0,38.0,1.1,-21.3,1008.6,1022.9,0.0,0.00,0.0,7.0,7.0,0.0,1000.0,0.0,-6.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67195,2022-08-31 19:00:00,동두천,22.4,0.0,0.6,110.0,80.0,21.6,18.7,995.5,1008.7,0.3,0.09,0.0,0.0,0.0,0.0,1763.0,0.0,22.7
67196,2022-08-31 20:00:00,동두천,20.1,0.0,1.1,50.0,92.0,21.6,18.7,996.4,1009.8,0.0,0.00,0.0,4.0,0.0,0.0,4635.0,0.0,21.2
67197,2022-08-31 21:00:00,동두천,19.2,0.0,0.6,50.0,93.0,20.6,18.0,997.0,1010.3,0.0,0.00,0.0,6.0,0.0,0.0,3193.0,0.0,20.5
67198,2022-08-31 22:00:00,동두천,18.7,0.0,0.4,0.0,94.0,20.2,17.7,997.3,1010.7,0.0,0.00,0.0,3.0,0.0,0.0,3288.0,0.0,19.8
67199,2022-08-31 23:00:00,동두천,18.4,0.0,0.5,50.0,96.0,20.2,17.7,997.8,1011.2,0.0,0.00,0.0,6.0,3.0,33.0,2849.0,0.0,19.7

In [36]:
# 수원
df_suwon = pd.read_csv("./weather/suwon.csv")
df_suwon

,datetime,stnNm,ta,rn,ws,wd,hm,pv,td,pa,ps,ss,icsr,dsnw,dc10Tca,dc10LmcsCa,lcsCh,vs,dmstMtphNo,ts
0,2015-01-01 00:00:00,수원,-6.2,0.0,4.2,320.0,34.0,1.3,-19.5,1018.8,1023.2,0.0,0.00,0.0,0.0,0.0,0.0,2000.0,0.0,-5.2
1,2015-01-01 01:00:00,수원,-6.2,0.0,5.2,320.0,34.0,1.3,-19.5,1018.8,1023.2,0.0,0.00,0.0,0.0,0.0,0.0,2000.0,0.0,-5.2
2,2015-01-01 02:00:00,수원,-6.8,0.0,4.5,320.0,38.0,1.4,-18.7,1018.7,1023.1,0.0,0.00,0.0,0.0,0.0,0.0,2000.0,0.0,-5.4
3,2015-01-01 03:00:00,수원,-7.1,0.0,3.7,320.0,39.0,1.4,-18.7,1019.2,1023.7,0.0,0.00,0.0,0.0,0.0,0.0,2000.0,0.0,-5.6
4,2015-01-01 04:00:00,수원,-7.4,0.0,4.6,320.0,38.0,1.3,-19.3,1019.1,1023.6,0.0,0.00,0.0,0.0,0.0,0.0,2000.0,0.0,-5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67195,2022-08-31 19:00:00,수원,22.4,0.0,1.1,20.0,84.0,22.7,19.5,1004.7,1009.3,0.4,0.12,0.0,6.0,5.0,13.0,2000.0,0.0,22.2
67196,2022-08-31 20:00:00,수원,21.5,0.0,0.8,20.0,86.0,22.0,19.0,1005.3,1009.9,0.0,0.00,0.0,5.0,2.0,13.0,1996.0,0.0,21.1
67197,2022-08-31 21:00:00,수원,21.8,0.0,0.9,70.0,86.0,22.4,19.3,1005.8,1010.4,0.0,0.00,0.0,6.0,6.0,14.0,2000.0,0.0,21.0
67198,2022-08-31 22:00:00,수원,21.1,0.0,0.4,0.0,93.0,23.2,19.9,1006.1,1010.7,0.0,0.00,0.0,4.0,4.0,15.0,2000.0,0.0,21.0
67199,2022-08-31 23:00:00,수원,20.5,0.0,0.0,0.0,96.0,23.1,19.8,1006.7,1011.3,0.0,0.00,0.0,3.0,3.0,16.0,2000.0,0.0,20.2

In [37]:
# 파주
df_paju = pd.read_csv("./weather/paju.csv")
df_paju

,datetime,stnNm,ta,rn,ws,wd,hm,pv,td,pa,ps,ss,icsr,dsnw,dc10Tca,dc10LmcsCa,lcsCh,vs,dmstMtphNo,ts
0,2015-01-01 00:00:00,파주,-7.6,0.0,3.5,320.0,32.0,1.1,-21.4,1019.3,1023.2,0.0,0.00,0.0,4.0,4.0,0.0,1500.0,0.0,-6.4
1,2015-01-01 01:00:00,파주,-7.6,0.0,4.5,320.0,32.0,1.1,-21.4,1019.3,1023.2,0.0,0.00,0.0,4.0,4.0,0.0,1500.0,0.0,-6.4
2,2015-01-01 02:00:00,파주,-8.2,0.0,4.3,320.0,33.0,1.1,-21.6,1019.5,1023.4,0.0,0.00,0.0,4.0,4.0,0.0,1500.0,0.0,-6.7
3,2015-01-01 03:00:00,파주,-8.9,0.0,3.0,320.0,34.0,1.1,-21.9,1019.7,1023.6,0.0,0.00,0.0,4.0,4.0,0.0,1500.0,0.0,-7.0
4,2015-01-01 04:00:00,파주,-9.1,0.0,3.4,320.0,34.0,1.0,-22.1,1019.8,1023.7,0.0,0.00,0.0,4.0,4.0,0.0,1500.0,0.0,-7.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67195,2022-08-31 19:00:00,파주,21.1,0.0,0.0,0.0,92.0,22.9,19.7,1005.8,1009.3,0.5,0.18,0.0,0.0,0.0,0.0,1105.0,0.0,23.2
67196,2022-08-31 20:00:00,파주,20.0,0.0,0.0,0.0,95.0,22.1,19.1,1006.6,1010.2,0.0,0.00,0.0,4.0,0.0,0.0,461.0,0.0,22.2
67197,2022-08-31 21:00:00,파주,19.4,0.0,0.7,160.0,97.0,21.8,18.9,1007.2,1010.7,0.0,0.00,0.0,5.0,2.0,35.0,415.0,0.0,21.7
67198,2022-08-31 22:00:00,파주,19.4,0.0,0.1,0.0,99.0,22.2,19.2,1007.6,1011.1,0.0,0.00,0.0,6.0,6.0,32.0,415.0,0.0,21.8
67199,2022-08-31 23:00:00,파주,19.5,0.0,0.2,0.0,98.0,22.1,19.1,1008.1,1011.6,0.0,0.00,0.0,7.0,7.0,30.0,362.0,0.0,21.7

In [38]:
# 서울
df_seoul = pd.read_csv("./weather/seoul.csv")
df_seoul

,datetime,stnNm,ta,rn,ws,wd,hm,pv,td,pa,ps,ss,icsr,dsnw,dc10Tca,dc10LmcsCa,lcsCh,vs,dmstMtphNo,ts
0,2015-01-01 00:00:00,서울,-7.4,0.0,6.1,290.0,33.0,1.2,-20.9,1011.8,1023.0,0.0,0.00,0.0,0.0,0.0,0.0,2000.0,0.0,-4.5
1,2015-01-01 01:00:00,서울,-7.4,0.0,4.7,290.0,33.0,1.2,-20.9,1011.8,1023.0,0.0,0.00,0.0,0.0,0.0,0.0,2000.0,0.0,-4.5
2,2015-01-01 02:00:00,서울,-8.0,0.0,4.5,290.0,35.0,1.2,-20.8,1011.7,1022.9,0.0,0.00,0.0,0.0,0.0,0.0,2000.0,0.0,-5.1
3,2015-01-01 03:00:00,서울,-8.4,0.0,3.8,290.0,37.0,1.2,-20.5,1012.1,1023.3,0.0,0.00,0.0,0.0,0.0,0.0,2000.0,0.0,-5.5
4,2015-01-01 04:00:00,서울,-8.8,0.0,4.9,290.0,35.0,1.1,-21.5,1012.3,1023.6,0.0,0.00,0.0,0.0,0.0,0.0,2000.0,0.0,-5.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67195,2022-08-31 19:00:00,서울,23.5,0.0,2.0,50.0,75.0,21.7,18.8,998.7,1008.4,0.6,0.27,0.0,5.0,0.0,0.0,2000.0,0.0,21.6
67196,2022-08-31 20:00:00,서울,22.4,0.0,2.0,20.0,80.0,21.6,18.7,999.3,1009.1,0.0,0.00,0.0,3.0,0.0,0.0,2000.0,0.0,20.3
67197,2022-08-31 21:00:00,서울,21.7,0.0,1.6,360.0,81.0,20.9,18.2,1000.0,1009.8,0.0,0.00,0.0,0.0,0.0,0.0,2000.0,0.0,19.7
67198,2022-08-31 22:00:00,서울,21.1,0.0,1.0,20.0,83.0,20.6,18.0,1000.3,1010.2,0.0,0.00,0.0,3.0,0.0,0.0,2000.0,0.0,19.1
67199,2022-08-31 23:00:00,서울,20.8,0.0,0.7,290.0,87.0,21.3,18.5,1000.8,1010.7,0.0,0.00,0.0,4.0,0.0,0.0,2000.0,0.0,18.8

In [43]:
# 이천
df_icheon= pd.read_csv("./weather/icheon.csv")
df_icheon

,datetime,stnNm,ta,rn,ws,wd,hm,pv,td,pa,ps,ss,icsr,dsnw,dc10Tca,dc10LmcsCa,lcsCh,vs,dmstMtphNo,ts
0,2015-01-01 00:00:00,이천,-7.2,0.0,3.1,290.0,28.0,1.0,-22.6,1012.3,1022.5,0.0,0.0,0.0,9.0,4.0,0.0,500.0,0.0,-5.8
1,2015-01-01 01:00:00,이천,-7.2,0.0,2.7,320.0,28.0,1.0,-22.6,1012.3,1022.5,0.0,0.0,0.0,9.0,4.0,0.0,500.0,0.0,-5.8
2,2015-01-01 02:00:00,이천,-7.7,0.0,2.8,290.0,29.0,1.0,-22.6,1012.2,1022.4,0.0,0.0,0.0,9.0,4.0,0.0,500.0,0.0,-6.3
3,2015-01-01 03:00:00,이천,-8.1,0.0,4.2,320.0,30.0,1.0,-22.6,1012.5,1022.7,0.0,0.0,0.0,9.0,4.0,0.0,500.0,0.0,-6.7
4,2015-01-01 04:00:00,이천,-8.6,0.0,3.1,290.0,33.0,1.1,-22.0,1012.4,1022.6,0.0,0.0,0.0,9.0,4.0,0.0,500.0,0.0,-6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67195,2022-08-31 19:00:00,이천,21.6,0.0,0.6,340.0,87.0,22.4,19.3,1000.4,1009.6,0.0,0.0,0.0,5.0,5.0,9.0,2000.0,0.0,23.2
67196,2022-08-31 20:00:00,이천,20.5,0.0,0.3,0.0,94.0,22.5,19.4,1001.1,1010.4,0.0,0.0,0.0,3.0,3.0,11.0,2000.0,0.0,22.2
67197,2022-08-31 21:00:00,이천,19.8,0.0,0.0,0.0,99.0,22.8,19.6,1001.5,1010.8,0.0,0.0,0.0,6.0,6.0,17.0,2000.0,0.0,21.2
67198,2022-08-31 22:00:00,이천,20.0,0.0,0.0,0.0,98.0,22.8,19.6,1001.8,1011.1,0.0,0.0,0.0,6.0,6.0,9.0,1759.0,0.0,21.3
67199,2022-08-31 23:00:00,이천,19.7,0.0,0.0,0.0,99.0,22.7,19.5,1002.2,1011.4,0.0,0.0,0.0,8.0,8.0,9.0,2000.0,0.0,20.8

In [40]:
# 인천
df_incheon = pd.read_csv("./weather/incheon.csv")
df_incheon

,datetime,stnNm,ta,rn,ws,wd,hm,pv,td,pa,ps,ss,icsr,dsnw,dc10Tca,dc10LmcsCa,lcsCh,vs,dmstMtphNo,ts
0,2015-01-01 00:00:00,인천,-6.5,0.0,10.2,340.0,52.0,2.0,-14.7,1014.2,1023.5,0.0,0.00,0.0,0.0,0.0,0.0,1800.0,0.0,-1.5
1,2015-01-01 01:00:00,인천,-6.5,0.0,7.3,340.0,52.0,2.0,-14.7,1014.2,1023.5,0.0,0.00,0.0,0.0,0.0,0.0,1800.0,0.0,-1.5
2,2015-01-01 02:00:00,인천,-6.9,0.0,7.6,340.0,52.0,1.9,-15.1,1014.0,1023.3,0.0,0.00,0.0,0.0,0.0,0.0,1800.0,0.0,-1.9
3,2015-01-01 03:00:00,인천,-7.1,0.0,8.4,340.0,53.0,1.9,-15.0,1014.3,1023.6,0.0,0.00,0.0,0.0,0.0,0.0,1800.0,0.0,-2.2
4,2015-01-01 04:00:00,인천,-7.7,0.0,8.2,340.0,49.0,1.7,-16.5,1014.5,1023.8,0.0,0.00,0.0,0.0,0.0,0.0,1600.0,0.0,-2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67195,2022-08-31 19:00:00,인천,23.3,0.0,2.0,250.0,74.0,21.0,18.3,1000.7,1008.6,0.1,0.16,0.0,5.0,5.0,9.0,2000.0,0.0,24.0
67196,2022-08-31 20:00:00,인천,23.0,0.0,1.9,250.0,77.0,21.6,18.7,1001.4,1009.3,0.0,0.00,0.0,3.0,3.0,8.0,1857.0,0.0,23.3
67197,2022-08-31 21:00:00,인천,22.7,0.0,1.2,290.0,80.0,22.0,19.0,1001.9,1009.8,0.0,0.00,0.0,4.0,4.0,8.0,2000.0,0.0,22.8
67198,2022-08-31 22:00:00,인천,22.4,0.0,0.9,290.0,83.0,22.4,19.3,1002.3,1010.2,0.0,0.00,0.0,4.0,4.0,7.0,2000.0,0.0,22.5
67199,2022-08-31 23:00:00,인천,22.3,0.0,0.4,0.0,85.0,22.8,19.6,1002.7,1010.6,0.0,0.00,0.0,4.0,3.0,11.0,1810.0,0.0,22.1

In [41]:
# 양평
df_yangpyeong = pd.read_csv("./weather/yangpyeong.csv")
df_yangpyeong

,datetime,stnNm,ta,rn,ws,wd,hm,pv,td,pa,ps,ss,icsr,dsnw,dc10Tca,dc10LmcsCa,lcsCh,vs,dmstMtphNo,ts
0,2015-01-01 00:00:00,양평,-6.4,0.0,4.9,290.0,32.0,1.2,-20.4,1015.8,1022.0,0.0,0.0,0.0,3.0,0.0,0.0,290.0,0.0,-5.3
1,2015-01-01 01:00:00,양평,-6.4,0.0,4.9,320.0,32.0,1.2,-20.4,1015.8,1022.0,0.0,0.0,0.0,3.0,0.0,0.0,290.0,0.0,-5.3
2,2015-01-01 02:00:00,양평,-7.0,0.0,3.8,320.0,32.0,1.2,-20.9,1015.9,1022.2,0.0,0.0,0.0,3.0,0.0,0.0,290.0,0.0,-5.7
3,2015-01-01 03:00:00,양평,-7.4,0.0,4.7,320.0,34.0,1.2,-20.6,1016.2,1022.5,0.0,0.0,0.0,3.0,0.0,0.0,290.0,0.0,-6.1
4,2015-01-01 04:00:00,양평,-8.0,0.0,4.2,320.0,35.0,1.2,-20.8,1016.3,1022.6,0.0,0.0,0.0,3.0,0.0,0.0,290.0,0.0,-6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67195,2022-08-31 19:00:00,양평,20.5,0.0,0.6,290.0,92.0,22.1,19.1,1004.5,1010.0,0.0,0.0,0.0,3.0,3.0,10.0,2000.0,0.0,22.3
67196,2022-08-31 20:00:00,양평,20.2,0.3,0.8,320.0,95.0,22.4,19.3,1005.2,1010.7,0.0,0.0,0.0,3.0,3.0,10.0,1578.0,0.0,21.6
67197,2022-08-31 21:00:00,양평,20.0,0.1,0.8,320.0,94.0,21.8,18.9,1005.7,1011.2,0.0,0.0,0.0,5.0,2.0,4.0,2000.0,0.0,20.5
67198,2022-08-31 22:00:00,양평,19.4,0.0,0.4,0.0,96.0,21.6,18.7,1006.1,1011.6,0.0,0.0,0.0,4.0,2.0,1.0,2000.0,0.0,20.3
67199,2022-08-31 23:00:00,양평,19.4,0.0,0.4,0.0,97.0,21.8,18.9,1006.5,1012.0,0.0,0.0,0.0,7.0,7.0,0.0,2000.0,0.0,20.5

In [42]:
# 강화도
df_ganghwado = pd.read_csv("./weather/ganghwado.csv")
df_ganghwado

,datetime,stnNm,ta,rn,ws,wd,hm,pv,td,pa,ps,ss,icsr,dsnw,dc10Tca,dc10LmcsCa,lcsCh,vs,dmstMtphNo,ts
0,2015-01-01 00:00:00,강화,-7.0,0.0,3.2,250.0,39.0,1.4,-18.6,1017.4,1023.5,0.0,0.0,0.0,1.0,0.0,0.0,240.0,0.0,-4.2
1,2015-01-01 01:00:00,강화,-7.0,0.0,4.3,180.0,39.0,1.4,-18.6,1017.4,1023.5,0.0,0.0,0.0,1.0,0.0,0.0,240.0,0.0,-4.2
2,2015-01-01 02:00:00,강화,-7.5,0.0,2.4,110.0,40.0,1.4,-18.8,1017.4,1023.5,0.0,0.0,0.0,1.0,0.0,0.0,240.0,0.0,-4.3
3,2015-01-01 03:00:00,강화,-7.8,0.0,2.9,110.0,41.0,1.4,-18.7,1017.8,1024.0,0.0,0.0,0.0,1.0,0.0,0.0,240.0,0.0,-4.4
4,2015-01-01 04:00:00,강화,-8.1,0.0,2.3,110.0,39.0,1.3,-19.6,1017.8,1024.0,0.0,0.0,0.0,1.0,0.0,0.0,240.0,0.0,-4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67195,2022-08-31 19:00:00,강화,21.5,0.0,1.2,320.0,93.0,23.8,20.3,1004.1,1009.6,0.0,0.0,0.0,3.0,3.0,13.0,2772.0,0.0,23.4
67196,2022-08-31 20:00:00,강화,20.5,0.0,0.9,320.0,100.0,24.0,20.4,1004.7,1010.3,0.0,0.0,0.0,5.0,5.0,15.0,4894.0,0.0,22.5
67197,2022-08-31 21:00:00,강화,20.4,0.0,0.9,360.0,100.0,23.8,20.3,1005.3,1010.9,0.0,0.0,0.0,4.0,2.0,29.0,4333.0,0.0,22.1
67198,2022-08-31 22:00:00,강화,20.5,0.0,0.6,340.0,100.0,24.0,20.4,1005.8,1011.4,0.0,0.0,0.0,8.0,8.0,26.0,4361.0,0.0,22.3
67199,2022-08-31 23:00:00,강화,20.0,0.0,0.5,360.0,100.0,23.2,19.9,1006.0,1011.6,0.0,0.0,0.0,9.0,9.0,26.0,5715.0,0.0,22.0

# DB에 CSV파일 넣기

In [53]:
# 백령도
df_bangryeongdo.to_sql(name = 'pollution_bangryeongdo', con = engine, if_exists = 'append', index=False)

67200

In [55]:
# 동두천
df_dongducheon.to_sql(name = 'pollution_dongducheon', con = engine, if_exists = 'append', index=False)

67200

In [57]:
# 수원
df_suwon.to_sql(name = 'pollution_suwon', con = engine, if_exists = 'append', index=False)

67200

In [59]:
# 파주
df_paju.to_sql(name = 'pollution_paju', con = engine, if_exists = 'append', index=False)

67200

In [65]:
# 서울
df_seoul.to_sql(name = 'pollution_seoul', con = engine, if_exists = 'append', index=False)

67200

In [67]:
# 이천
df_icheon.to_sql(name = 'pollution_icheon', con = engine, if_exists = 'append', index=False)

67200

In [69]:
# 인천
df_incheon.to_sql(name = 'pollution_incheon', con = engine, if_exists = 'append', index=False)

67200

In [71]:
# 양평
df_yangpyeong .to_sql(name = 'pollution_yangpyeong', con = engine, if_exists = 'append', index=False)

67200

In [73]:
# 강화도
df_ganghwado.to_sql(name = 'pollution_ganghwado', con = engine, if_exists = 'append', index=False)

67200